.button
    padding 20px 30px
    display inline-block
    font-size 0.75em
    color #fff
    text-transform uppercase
    background-color $color-green
    border-radius 3px
    letter-spacing 2px
    transition all .35s ease

    &:hover
        background-color ($color-green + 7%)


    