 @font-face
    font-family $main-font
    font-style normal
    src url('../fonts/GothamRoundedMedium.ttf')

@font-face
    font-family $font-awesome
    src url('../fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0')
    src url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/font-awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype')
    font-weight normal
    font-style normal

*
    reset()
    font-family $main-font, 'Calibri', sans-serif

html
    font-size 16px

a
    text-decoration none
    outline none
    color #fff