.footer
    min-height 130px
    padding-bottom 20px

    &__row
        justify-content(space-between)

    &__content
        col()
        col-sm-12()
        padding-left 40px
        padding-top 45px
    
    &__copyright
        margin-top 25px
        font-size .75em
        letter-spacing 2px
        font-weight bold
        text-align center
    
    &__logo
        col()
        col-sm-12()
        padding-right 45px
        margin-top 40px
        text-align center
    
    @media screen and (max-width $break_sm)
        &__footer-menu
            text-align center

        &__content
            padding-left 0
        
        &__logo
            padding-right 0