.social-icons
    font-size 23px
    
    &__twitter
        margin-right 15px
        font-family $font-awesome
        transition all .35s ease  
        &::before
            content "\f099"
        &:hover
            color #15a4fa
    
    &__flickr
        margin-right 15px
        font-family $font-awesome
        transition all .35s ease 
        &::before
            content: "\f16e"
        
        &:hover
            color #FA58AC

     &__dribble
        font-family $font-awesome
        transition all .35s ease 
        &::before
            content: "\f17d"
        
        &:hover
            color #FE2E9A